<!DOCTYPE html>
<html lang="en">

<head>
    <title>Altara Store Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> -->
    <link rel="stylesheet" type="text/css" href="css.css" />

</head>

<body>
    <div id="root">
        <div class="container">

            <header style="width:100%;background-color:#EEEEEE;color:#00264d ;height:200px">
                <div>
                    <img src="altara_logo.png" alt="" style="width:213px; height:80px;">
                    <h1 style="color: #00264d ; text-align:center"> Altara Store Portal</h1>
                </div>

            </header>

            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #00264d;">Altara Credit Customer Registration</div>
                <div class="panel-body">

                    <div class="row" style=" margin:10px;padding:10px;">
                        <div class="col-sm-4" style="margin:0 auto; margin-bottom:10px;">
                            <div style="margin:0 auto; width:250px;"><img src="reg.png" width="40" height="40" />
                                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success btn-small" style="font-size:12px">Customer Look Up</button>
                            </div>
                        </div>
                        <!-- <div class="col-sm-4" style="margin:0 auto; margin-bottom:10px;">
                            <div style="margin:0 auto;width:250px;">
                                <img src="update.png" width="40" height="40" />

                                <button type="button" class="btn btn-success btn-small" data-toggle="modal" data-target="#myModal2" style="font-size:12px">Update Customer's Info</button>
                            </div>
                        </div>

                        <div class="col-sm-4" style="margin:0 auto; margin-bottom:10px;">
                            <div style="margin:0 auto; width:250px;"><img src="reg.png" width="40" height="40" />
                                <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-success btn-small" style="font-size:12px">Customer List</button>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="panel-heading" style="background-color: #00264d;">
                            <h4 class="modal-title" style="color:white">Customer Registration</h4>
                        </div>
                        <div class="clear"></div>
                        <div class="panel-body">

                            <div class="loading" v-if='dataloaded'>Loading&#8230;</div>
                            <p class="alert alert-danger alert-dismissable" v-if='errorMessage'>
                                <a href="#" class="close" v-on:click="resetMessage" data-dismiss="alert" aria-label="close">&times;</a>                                {{errorMessage}}
                            </p>
                            <p class="alert alert-success alert-dismissable" v-if='successMessage'>
                                <a href="#" class="close" v-on:click="resetMessage" data-dismiss="alert" aria-label="close">&times;</a>                                {{successMessage}}
                            </p>
                            <div v-if="!access_granted">
                                <div class="row " style="padding:40px;">
                                    <div class="col-sm-6 form-group">
                                        <label>Store Agent ID</label>
                                        <input type="text" placeholder="Enter DVA ID.." v-model="Employee_id" class="form-control">

                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Access Code</label>
                                        <input type="text" placeholder="Enter Access code Here.." v-model="Access_code" class="form-control">

                                    </div>

                                </div>

                                <button type="button" @click="GainAccess()" class="btn btn-success btn-small" style="display:block; font-size:12px;margin:0 auto;">Login</button>
                                <br>
                            </div>



                            <div v-if="access_granted && !idchecked" class="row" style="padding:30px;width:90%;margin:0 auto; margin-top:20px;background-color:#EEEEEE">
                                <div class="col-sm-12 form-group">
                                    <label>Customer ID</label>
                                    <input type="text" placeholder="Enter Customer ID Here.." v-model="Customer_id" class="form-control">
                                </div>

                                <br> <br>

                                <button type="button" @click="CheckId()" class="btn btn-success btn-small" style="display:block; font-size:12px;margin:0 auto;">Check Customer</button>

                            </div>


                            <div v-if="idchecked" class="row" style="height:500px">

                                <div class="" style="max-width: 550px;width: 550px;height: 200px;display: block;margin: auto;">
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <img src="http://placehold.it/156x206" alt="" />
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <h4>
                                                    <strong>{{CustName}}</strong> </h4>
                                                <i class="glyphicon glyphicon-user"></i><strong>Customer ID: {{Customer_id}}</strong>
                                                <br />
                                                <small><cite title="">{{address}} <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                                                <i class="glyphicon glyphicon-phone-alt"></i>{{repay[0].telephone}}
                                                <br />
                                                <i class="glyphicon glyphicon-gift"></i>Member since : {{Regdate}}
                                                <br />
                                                <i> <img  src="cancel.png" width="15" height="15" alt=""></i> <strong>Not Approved</strong>
                                                <!-- Split button -->

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group table-responsive" style="width:95%;margin:0 auto;margin-top:50px;">
                                    <table class=" table table-bordered list">
                                        <tr style="font-size:14px">
                                            <th>S/No.</th>
                                            <th>Date</th>
                                            <th>Order No.</th>
                                            <th>Product Name</th>
                                            <th>Product Price</th>
                                            <th>Product Qty</th>
                                            <th>40% PPrice</th>
                                            <th>Repayment Plans</th>
                                        </tr>

                                        <tr v-for="(list_order , index) in List_orders" style="font-size:12px">
                                            <td>{{index + 1}}</td>
                                            <td>{{list_order.order_date}}</td>
                                            <td>{{list_order.order_id}}</td>
                                            <td>{{list_order.product_name}}</td>
                                            <td>{{list_order.product_price}}</td>
                                            <td>{{list_order.product_qty}}</td>
                                            <td>N{{list_order.product_price * list_order.product_qty * (40/100)}}.00</td>
                                            <td><button class=" btn btn-success" data-toggle="modal" data-target="#myModal3">View Plans</button>

                                                <div id="myModal3" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <div class="panel-heading" style="background-color: #00264d;">
                                                                <h4 class="modal-title" style="color:white">Repayment Plan</h4>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="form-group table-responsive" style="width:95%;margin:0 auto;margin-top:50px;">
                                                                    <table class=" table table-bordered list">
                                                                        <tr style="font-size:14px">
                                                                            <th></th>
                                                                            <th colspan="12" style="text-align:center">Repayment Plans</th>
                                                                        </tr>

                                                                        <tr style="font-size:12px">
                                                                            <th>Date</th>
                                                                            <td>{{repay_date[0]}}</td>
                                                                            <td>{{repay_date[1]}} </td>
                                                                            <td>{{repay_date[2]}} </td>
                                                                            <td>{{repay_date[3]}} </td>
                                                                            <td>{{repay_date[4]}} </td>
                                                                            <td>{{repay_date[5]}} </td>
                                                                            <td>{{repay_date[6]}} </td>
                                                                            <td>{{repay_date[7]}} </td>
                                                                            <td>{{repay_date[8]}} </td>
                                                                            <td>{{repay_date[9]}}</td>
                                                                            <td>{{repay_date[10]}} </td>
                                                                            <td>{{repay_date[11]}} </td>
                                                                        </tr>

                                                                        <tr style="font-size:12px">
                                                                            <th>Status</th>
                                                                            <td> 
                                                                                <img v-if="list_order.first == 1" src="checked.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.first == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<15)" src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.first == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 15)" src="cancel.png" width="20" height="20px" alt="">

                                                                            </td>

                                                                            <td> 
                                                                                <img v-if="list_order.second == 1" src="checked.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.second == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<29)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.second == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 29)" src="cancel.png" width="20" height="20px" alt="">      
                                                                       
                                                                            </td>

                                                                            <td> 
                                                                                <img v-if="list_order.third == 1" src="checked.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.third == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<43)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.third == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 43)" src="cancel.png" width="20" height="20px" alt="">      
                                                                            </td>

                                                                            <td> 
                                                                                <img v-if="list_order.fourth == 1" src="checked.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.fourth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<57)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.fourth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 57)" src="cancel.png" width="20" height="20px" alt="">      
                                                                            </td>
                                                                            
                                                                            <td> 
                                                                                <img v-if="list_order.fifth == 1" src="checked.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.fifth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<71)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.fifth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 71)" src="cancel.png" width="20" height="20px" alt="">        
                                                                            </td>

                                                                            <td> 
                                                                                <img v-if="list_order.sixth == 1" src="checked.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.sixth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<85)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.sixth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 85)" src="cancel.png" width="20" height="20px" alt=""> 
                                                                            </td>
                                                                          
                                                                            <td> 
                                                                                <img v-if="list_order.seventh == 1" src="checked.png"  width="20" height="20px" alt="">
                                                                                <img v-if="list_order.seventh == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<99)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.seventh == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 99)" src="cancel.png" width="20" height="20px" alt="">  
                                                                           </td>

                                                                            <td> 
                                                                                <img v-if="list_order.eight == 1" src="checked.png"  width="20" height="20px" alt="">
                                                                                <img v-if="list_order.eight == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<113)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.eight == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 113)" src="cancel.png" width="20" height="20px" alt="">  
                                                                            </td>

                                                                            <td> 
                                                                                <img v-if="list_order.nineth == 1" src="checked.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.nineth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<127)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.nineth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 127)" src="cancel.png" width="20" height="20px" alt="">  
                                                                            </td>

                                                                            <td>
                                                                                <img v-if="list_order.tenth == 1" src="checked.png"  width="20" height="20px" alt="">
                                                                                <img v-if="list_order.tenth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<141)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.tenth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 141)" src="cancel.png" width="20" height="20px" alt="">     
                                                                             </td>

                                                                            <td> 
                                                                                <img v-if="list_order.eleventh == 1" src="checked.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.eleventh == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<155)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.eleventh == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 155)" src="cancel.png" width="20" height="20px" alt="">       
                                                                            </td>

                                                                            <td> 
                                                                                <img v-if="list_order.twelveth == 1" src="checked.png"  width="20" height="20px" alt="">
                                                                                <img v-if="list_order.twelveth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))<169)"  src="waiting.png" width="20" height="20px" alt="">
                                                                                <img v-if="list_order.twelveth == 0 && (Math.ceil((Math.abs( new Date().getTime() - new Date(orderDate).getTime()))/ (1000 * 3600 * 24))> 169)" src="cancel.png" width="20" height="20px" alt="">  
                                                                            </td>

                                                                        </tr>
                                                                        <!-- <tr v-for="(list_customer , index) in filteredList_customers">
<td>{{index + 1}}</td>
<td>{{list_customer.customer_id}}</td>
<td>{{list_customer.first_name }} {{list_customer.middle_name}} {{list_customer.last_name}}</td>
<td>{{list_customer.telephone}}</td>

</tr> -->
                                                                    </table>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </td>

                                        </tr>
                                        <!-- <tr v-for="(list_customer , index) in filteredList_customers">
<td>{{index + 1}}</td>
<td>{{list_customer.customer_id}}</td>
<td>{{list_customer.first_name }} {{list_customer.middle_name}} {{list_customer.last_name}}</td>
<td>{{list_customer.telephone}}</td>

</tr> -->
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="panel-heading" style="background-color: #00264d;">
                    <h4 class="modal-title" style="color:white">Customer Registration</h4>
                </div>
                <div class="panel-body">

                </div>

            </div>

        </div>
    </div>
    </div>
    </div>

    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="panel-heading" style="background-color: #00264d;">
                    <h4 class="modal-title" style="color:white">Customer Registration</h4>
                </div>
                <div class="panel-body">

                </div>

            </div>

        </div>
    </div>
    </div>
    </div>


    </div>
    </div>



    </div>


    </div>



    <script type="text/javascript" src="axios.js">

    </script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.2">

    </script>
    <script type="text/javascript" src="app.js">

    </script>

</body>

</html>